<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110677104-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110677104-1');
  </script>
  
  {% block title %}<title class ="logo">Vidya </title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <div class="banner">
    <img  src="https://www.battleforthenet.com/images/banner/728x80.png">
  </div>
</head>


<body>

  <div class="container-fluid">
     <left class= "logo"><font size="+100"><a href="{% url 'index' %}">VIDYA</a></font></left><br/> 
        <font size="-2" font color="#621313">where we revolutionize the gaming industry one review at a time...</font>


    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}" >Home </a></li>
          <li><a href="{% url 'games' %}">All games</a></li>
      </ul>
        <ul class="sidebar-nav">

    ...

   {% if user.is_authenticated %}
     <li> {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>  Or <li><a href="{% url 'signup' %}">Signup</a></li> 
   {% endif %} 
  </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>